<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise"
  [fullScreen]="true"
  ><p style="color: white">Cargando...</p></ngx-spinner
>

<app-navbar></app-navbar>

<div class="container">
  <h2>
    Bienvenido, <small>{{ userInfo?.fullname }}</small>
  </h2>

  <div class="row mt-5 mb-3">
    <div class="col-xs-6 col-sm-8 col-md-9">
      <h4>Mis tareas</h4>
    </div>
    <div class="d-none d-sm-block col-sm-4 col-md-3">
      <div class="d-flex justify-content-end">
        <a (click)="openTaskModal(false)" class="btn btn-success"
          >Crear tarea <i class="fa fa-plus"></i
        ></a>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre/descripción</th>
          <th scope="col">Prioridad</th>
          <th scope="col">Fecha expiración</th>
          <th scope="col">Tiempo restante</th>
          <th scope="col">Editar/Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of taskData; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item.name | titlecase }}</td>
          <td>
            <span
              class="badge"
              [ngClass]="{
                'badge-success': item.priority === 'alta',
                'badge-warning': item.priority === 'media',
                'badge-danger': item.priority === 'baja'
              }"
              >{{ item.priority | titlecase }}</span
            >
          </td>
          <td>{{ item.expiration | date: "medium" }}</td>
          <td>2h 3m 4s</td>
          <td>
            <a
              (click)="openTaskModal(true, item)"
              class="mr-1"
              style="cursor: pointer"
              title="Editar"
              ><i class="fa fa-edit text-primary"></i
            ></a>
            <a
              (click)="deleteTask(item)"
              class="ml-1"
              style="cursor: pointer"
              title="Eliminar"
              ><i class="fa fa-close text-danger"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="d-flex justify-content-center" *ngIf="taskData.length === 0">
      No hay tareas guardadas!
    </p>
    <hr />
    <span class="font-weight-bold float-right"
      >Cantidad: {{ taskData?.length }}</span
    >
  </div>
</div>

<app-footer></app-footer>
