/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a.btn-success {
    color: #fff;
}
a.btn-success:hover {
    color: #fff;
}

.navbar {
    margin-bottom: 30px;
}